<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if @member.image.blank? %>
      <div style="text-align:center;"><img src="http://edpov.stanford.edu/sites/default/files/defaultUserIcon.png"></div>
      <br />
    <% else %>
      <div style="text-align:center;"><%= image_tag @member.image.url(:medium), :class => "style_image"%></div>
  <% end %>

  <br />
  <div class="form-group">
   <%= f.text_field :username, class: "form-control", :autofocus => true, :placeholder => "Username" %>
  </div>

  <div class="form-group">
   <%= f.text_field :name, class: "form-control", :placeholder => "Name" %>
  </div>

  <div class="form-group">
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  
  <div class="form-group">
   <%= f.text_field :bio, class: "form-control", :placeholder => "Bio" %>
  </div>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control", :placeholder => "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, :autocomplete => "off", class: "form-control", :placeholder => "Password (leave blank if you don't want to change it)" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Password Confirmation" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3 id="changeText">Cancel my account</h3>

<p id="changeText">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

<!--new back button-->
<a class="btn btn-md btn-danger" href="javascript:history.back()">Back To Dashboard</a>

