    <!--Dashboard Page-->

    <p id="notice"><%= notice %></p>
    <body>



      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="row"> 
          <div class="row"> 



            <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-warning" href="/members"><%= @current_member.username %> Profile</a></button></center>
                </div>
                <div class="body";>
                 <!--displays members picture, dashboard-->
                  <% if @current_member.image.blank? %>

                  <% else %>
                  
                  <center><td><%=  image_tag(@current_member.image.url(:thumb)) %></td></center>
                  <% end %></br><!--picture end-->
                  <%= render '/shared/stats' %>    
                   
              </div>
            </div><!--end panel-->
          </div><!--end column-->

            

          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-warning" href="/members"> Leagues </a></button></center>
                </div>
                <div class="body">
            <div id="dashScroll" class="container">
              <%= render '/leagues/index' %>
            </div>
           </div>        
            </div><!--end panel-->
          </div><!--end column-->


          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-warning" href="/members"> Friends </a></button></center>
                </div>
                <div class="body">
            <div id="dashScroll" class="container">
              <%= render '/users/index' %>
            </div>
           </div>        
            </div><!--end panel-->
          </div><!--end column-->




            <div class="col-sm-3">
            </div>


            <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search Members", :class => "form-control" %>
                    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary"%>
                  <% end %>
                  <center><h2>Friends List</h2></center>
                </div>
                <div class="body">
                  <%= render '/users/index' %>
                </div>
                <%= render '/shared/stats' %>       
              </div>
            </div><!--end panel-->


          </div>

      </row>
    </body>