    <!--Dashboard Page-->

    <p id="notice"><%= notice %></p>
    <body>



      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container-dash">
      <div class="row"> 
          <div class="row"> 



            <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><h3><%= @current_member.username %> Profile</h3></center>
                </div>
                <div class="body"; >
                 <!--displays members picture, dashboard-->
                  <% if @current_member.image.blank? %>

                  <% else %>

                  
                  <center><td><%=  image_tag(@current_member.image.url(:thumb)) %></td></center>
                  <% end %></br><!--picture end-->
                  <%= render '/shared/stats' %>    
                   
              </div>
            </div><!--end panel-->
          </div><!--end column-->

            

          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><h3>Leagues</h3></center>
                </div>
                <div class="body">
            <div id="dashScroll" class="container">
              <%= render '/leagues/index' %>
            </div>
           </div>        
            </div><!--end panel-->
          </div><!--end column-->


          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><h3>Friends </h3></center>
                </div>
                <div class="body">
            <div id="dashScroll" class="container">
              <%= render '/users/index' %>
            </div>
           </div>        
            </div><!--end panel-->
          </div><!--end column-->
        </div> <!--end row 1-->


        <div class="row"> <!--start row 2-->
        <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Quick Play</a></button></h3></center>
                </div>      
            </div><!--end panel-->
          </div><!--end column-->



          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Profile History</a></button></h3></center>
                </div>      
            </div><!--end panel-->
          </div><!--end column-->


          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Add Money</a></button></h3></center>
                </div>      
            </div><!--end panel-->
          </div><!--end column-->

        </div> <!--end row 2-->

      </div>
    </div>
    </body>