    <!--
    Dashboard Page
    
    This page will link user to the following pages.
        - Leagues, Friends, Account, Sign out, Home page, quick play, add money.

    References to  components used:
    1. http://getbootstrap.com/2.3.2/components.html
    2. http://teamtreehouse.com
    3. http://ruby.learncodethehardway.org/book/


    Our thought was to funnel everything through this main page, to keep it simple for the user to interact with our site.

  -->

    <p id="notice"><%= notice %></p>
    <body>



      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container-dash">
      <div class="row"> 
          <div class="row"> <!--start row 1-->



            <div class="col-sm-3"><!--user panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><h3><%= @current_member.username %> Profile</h3></center>
                </div>
                <div class="body"; >
                 <!--displays members picture, dashboard-->
                  <% if @current_member.image.blank? %>

                  <% else %>
                  <td><%=  image_tag @current_member.image.url(:medium), :class => "style_image" %></td>
                  <% end %></br><!--picture end-->
                  <!--renders Followers and followed-->
                  <%= render '/shared/stats' %>    
              </div>
            </div><!--end panel-->
          </div><!--end column-->




          <div class="col-sm-3"><!--leagues panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading"><!--heading-->
                  <center><h3>Leagues</h3></center>
                </div>
                <div class="body">
                  <!--displays the leagues the user is in-->
                  <div id="dashScroll" class="container">
                    <%= render '/leagues/index' %>
                  </div><!--end league displays-->
                </div>        
              </div><!--end panel-->
          </div><!--end column-->


          <div class="col-sm-3"><!--friend panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><h3>Friends </h3></center>
                </div>
                <div class="body">

                  <!--search bar and button-->
                <div id="dashScroll" class="container">
                  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], placeholder: "Search Members", :class => "form-control"  %>
                      <%= submit_tag "Search", :name => nil, :class => "btn btn-primary"%>
                  <% end %><!--end search bar-->

                  <!--displays friends list in panel-->
                  <%= render '/users/index' %>
                </div>
           </div>        
            </div><!--end panel-->
          </div><!--end column-->
        </div> <!--end row 1-->


        <div class="row"> <!--start row 2-->

        <div class="col-sm-3"><!--Quick Play panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Quick Play</a></button></h3></center>
                </div>
            </div><!--end panel-->
          </div><!--end column-->



          <div class="col-sm-3"><!--Profile History panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Profile History</a></button></h3></center>
                </div>      
            </div><!--end panel-->
          </div><!--end column-->


          <div class="col-sm-3"><!--Add Money panel, dashboard-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <center><a button class="btn btn-mini btn-primary" href="/">Add Money</a></button></h3></center>
                </div>      
            </div><!--end panel-->
          </div><!--end column-->

        </div> <!--end row 2-->

      </div>
    </div>
    </body>